name: Renovate
on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        # v6.0.1
      - name: Renovate
        uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809
        # v44.2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
